{% set title = 'Edit Administrator' %}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyHeaderContentRight %}
    <a href="{{ path('administrator-list') }}" class="btn float-sm-right">Back</a>
{% endblock %}

{% block bodySectionContent %}

    <div class="card card-info">

        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.username) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info">Save</button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}