{% set title = 'List of Administrators' %}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyHeaderContentRight %}
    <a href="{{ path('administrator-new-form') }}" class="btn btn-success float-sm-right">New</a>
{% endblock %}

{% block bodySectionContent %}

    <div class="card">
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="form-group">
                    {{ form_start(filterForm, {'attr': {'class': ''}}) }}
                    <div class="form-row align-items-center">
                        <div class="col-sm-8 input-group">
                            {{ form_label(filterForm.username_value) }}
                            {{ form_widget(filterForm.username_value) }}
                        </div>
                        <div class="col-sm-2 input-group">
                            {{ form_widget(filterForm.filter) }}
                        </div>
                    </div>
                    {{ form_end(filterForm) }}
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2"
                               class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                               aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                    rowspan="1" colspan="1" aria-sort="ascending"
                                    aria-label="Id: activate to sort column descending">
                                    Id
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                    colspan="1" aria-label="Username: activate to sort column ascending">
                                    Username
                                </th>
                                <th rowspan="1" colspan="1">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users.results %}
                                <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                                    <td class="sorting_1 dtr-control">{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        <a href="{{ path('administrator-edit-form',{'id':user.id}) }}"
                                           class="btn btn-info"><i class="fas fa-pencil-alt">
                                            </i> Edit</a>
                                        <a href="{{ path('administrator-password-form',{'id':user.id}) }}"
                                           class="btn btn-primary">Change Password</a>
                                        <a href="{{ path('administrator-delete',{'id':user.id}) }}"
                                           class="btn btn-danger"><i class="fas fa-trash">
                                            </i> Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include 'shared/pagination.html.twig' with {'results': users, 'path': path, 'params': params} %}
            </div>
        </div>
    </div>

{% endblock %}