{% extends 'base.html.twig' %}

{% block title %}List of Users{% endblock %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">List of Users</h1>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('user-new-form') }}" class="btn btn-success float-sm-right">New</a>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"></div>
                                    <div class="col-sm-12 col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2"
                                               class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                                               aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Id: activate to sort column descending">
                                                    Id
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="Username: activate to sort column ascending">
                                                    Username
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                    Actions
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users.results %}
                                                <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                                                    <td class="sorting_1 dtr-control">{{ user.id }}</td>
                                                    <td>{{ user.username }}</td>
                                                    <td>
                                                        <a href="{{ path('user-edit-form',{'id':user.id}) }}" class="btn btn-primary">Edit</a>
                                                        <a href="{{ path('user-password-form',{'id':user.id}) }}" class="btn btn-primary">Change Password</a>
                                                        <a href="{{ path('user-delete',{'id':user.id}) }}" class="btn btn-primary btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                {% include 'shared/pagination.html.twig' with {'results': users, 'path': path, 'params': params} %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}